@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');
@layer components {
  .mybtn {
    @apply rounded-lg px-4 py-2 disabled:bg-gray-300 disabled:text-gray-500;
  }
  .mybtn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-800;
  }
  .mybtn-secondary {
    @apply bg-indigo-100 text-blue-600 hover:bg-indigo-200;
  }
  .mybtn-del {
    @apply bg-red-100 text-red-600 hover:bg-red-700 hover:text-white;
  }
}
.shadow-top {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset (negative), blur radius, color */
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
